[submodule "noipduc"]
	path = noipduc
	url = git@github.com:hammadrauf/noipduc.git
[submodule "ddclient"]
	path = ddclient
	url = git@github.com:hammadrauf/ddclient.git
[submodule "apache2"]
	path = apache2
	url = git@github.com:hammadrauf/apache2.git
[submodule "apache_vhosts"]
	path = apache_vhosts
	url = git@github.com:hammadrauf/apache_vhosts.git
[submodule "sudousers"]
	path = sudousers
	url = git@github.com:hammadrauf/sudousers.git
